

<h1><%= @post.place.name %> </h1>

#<ul>
#  <li><%= @post.title %></li>
#  <li><%= @post.description %></li>
#</ul>

<p><a href="/places/<%= @post.place.id %>">Back to <%= @post.place.name %></a></p>