<h1> <%= @place.name %></h>
<h3> </h3>
<ul>
  <% for post in @place.posts %>

    <li><%= "#{post.title}"%></li> 
    <p> <%= "#{post.description}" %></p>
    <p> <%= "#{post.created_at}"%></p>

  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p><a href="/places">Back to all Places</a></p>

